<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @person.password %>
</p>

<p>
  <strong>Active:</strong>
  <%= @person.active %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @person.cell_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @person.work_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @person.home_phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @person.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @person.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @person.zip %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @person.emergency_contact %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @person.emergency_phone %>
</p>

<p>
  <strong>Emergency relation:</strong>
  <%= @person.emergency_relation %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @person.citizenship %>
</p>

<p>
  <strong>Citizenship proof:</strong>
  <%= @person.citizenship_proof %>
</p>

<p>
  <strong>Tsa status:</strong>
  <%= @person.tsa_status %>
</p>

<p>
  <strong>Faa ratings:</strong>
  <%= @person.faa_ratings %>
</p>

<p>
  <strong>Faa medical class:</strong>
  <%= @person.faa_medical_class %>
</p>

<p>
  <strong>Faa medical expiration date:</strong>
  <%= @person.faa_medical_exp_date %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
